installCRDs: true

replicaCount: 1

podDisruptionBudget:
  enabled: false
  minAvailable: 1

extraArgs:
  - --enable-certificate-owner-ref=true

resources:
  requests:
    cpu: 50m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi

serviceAccount:
  create: true
  name: cert-manager

tolerations:
- key: "system"
  operator: "Equal"
  value: "true"
  effect: "NoSchedule"

nodeSelector:
node-role: system